<div class="column">
    <a href="{{ path('sylius_shop_homepage') }}">
        <img src="{{ asset('build/app/shop/images/logo.png', 'app.shop') }}" alt="Mario Logo" class="ui small image"/>
    </a>
</div>
